/* You can add global styles to this file, and also import other style files */

// Fonts
@import './src/assets/sass/fonts';
@import './src/assets/sass/reset';
@import './src/assets/sass/admin';
@import './src/assets/sass/datatable';


#countdown-timer {
  margin-bottom: 40px;
  font-weight: bold;

  .separator {
    font-size: 30px;
  }

  .item {
    display: inline-block;
    font-size: 90px;
    margin-right: 30px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3607843137254902);
    .label {
      display: block;
      font-size: 20px;
    }

  }
}

