<div class="header">
  <div class="header-left">
    <a href="#" class="logo">
      <img src="./assets/images/avatar.png" class=" img-responsive" width="auto"
        height="42" alt="logo">
    </a>
  </div>
  <div class="page-title-box pull-left">
    <h3>Launch Time</h3>
  </div>
  <ul class="nav navbar-nav navbar-right user-menu">
    <li class="icon-menu">
      <a href="#" title="Dashboard" (click)="logout()">
        <i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a>
    </li>
  </ul>
</div>
