<div class="countdown">

  <div class="container">

    <!-- # Header -->
    <header>
      <!-- Logo -->
      <div class="logo">
        <img src="./assets/public/uploads/{{ countdown.countdowns[0].logo }}" alt="">
      </div>

      <!-- Social Media Links -->
      <div class="social-medias">
        <a href="{{ countdown.countdowns[0].facebook_url }}">
          <i class="fa fa-twitter"></i>
        </a>
        <a href="{{ countdown.countdowns[0].twitter_url }}">
          <i class="fa fa-facebook"></i>
        </a>
        <a href="{{ countdown.countdowns[0].behance_url }}">
          <i class="fa fa-behance"></i>
        </a>
      </div>
    </header>

    <!-- Description -->
    <div class="description">
      <h1>{{ countdown.countdowns[0].title }}</h1>
      <p>{{ countdown.countdowns[0].description }}</p>
    </div>

    <!-- Countdown Timer -->
    <div id="countdown-timer"></div>

    <!-- Errors -->
    <div class="alert alert-danger" *ngIf="errors.email && success == false">
      {{ errors.email.message}}
    </div>

    <!-- Success Message -->
    <div class="alert alert-success thanks" *ngIf="success == true">
        Thanks for subscribing
    </div>

    <!-- Email Notification -->
    <div class="email-notification">
      <form class="form-inline" [formGroup]="subscriberForm">
        <div class="form-group">
          <input formControlName="email" type="email" class="form-control" placeholder="jane.doe@example.com">
        </div>
        <button type="button" class="btn btn-info" (click)="submitForm()">Send invitation</button>
      </form>
    </div>

    <!-- Admin Dashboard -->
    <div class="notify-me">
      <a href="#" routerLink="/admin/dashboard">Admin Dashboard</a>
    </div>

  </div>

</div>
