<div class="countdown">

  <div class="container">

    <!-- # Header -->
    <header>
      <!-- Logo -->
      <div class="logo">
        <img src="https://git-scm.com/images/logos/downloads/Git-Icon-White.png" alt="">
      </div>

      <!-- Social Media Links -->
      <div class="social-medias">
        <a href="#">
          <i class="fa fa-twitter"></i>
        </a>
        <a href="#">
          <i class="fa fa-facebook"></i>
        </a>
        <a href="#">
          <i class="fa fa-behance"></i>
        </a>
      </div>
    </header>

    <!-- Description -->
    <div class="description">
      <h1>The Best Coffee On Your Phone</h1>
      <p>
        Everything That you love about coffee now you can<br/> Find on you smartphone
      </p>
    </div>

    <!-- Countdown Timer -->
    <div id="countdown-timer">2018-04-12T17:43:00</div>

    <!-- Email Notification -->
    <div class="email-notification">
      <form class="form-inline">
        <div class="form-group">
          <input type="email" class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com">
        </div>
        <button type="submit" class="btn btn-info">Send invitation</button>
      </form>
    </div>

    <!-- Admin Dashboard -->
    <div class="notify-me">
      <a href="#" routerLink="/admin/dashboard">Admin Dashboard</a>
    </div>

  </div>

</div>
